canvas==0.3
cbor2==5.5.1
certifi==2023.11.17
chardet==5.2.0
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
fonttools==4.47.0
idna==3.6
kiwisolver==1.4.5
luma.core==2.4.1
luma.oled==3.13.0
matplotlib==3.8.2
numpy==1.26.2
packaging==23.2
Pillow==10.1.0
pycups==2.0.1
pyftdi==0.55.0
pyparsing==3.1.1
pyserial==3.5
python-dateutil==2.8.2
pyusb==1.2.1
reportlab==4.0.8
requests==2.31.0
RPi.GPIO==0.7.1
six==1.16.0
smbus2==0.4.3
spidev==3.6
urllib3==2.1.0
